.compliance-section {
  padding-top: 80px;
  padding-bottom: 80px;
  background: url(../../images/bgs/bg-compliance.jpg) center center no-repeat;
  background-attachment: fixed;
  color: $blue-dark;
  h4 {
    font-size: 20px;
  }
  .list {
    width: 100%;
    margin-top: 40px;
    > * {
      font-size: 16px;
      font-weight: 500;
    }
    nav > div {
      color: $gray-text;
      padding: 10px 0;
      border-bottom: 1px solid $gray-text;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
