.courses-section {
  z-index: 0;
  margin-top: -50px;
  padding-top: 20vh;
  background: url(../../images/bgs/bg-cursos.jpg) top center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  @include full-bg;
  h2 {
    margin-bottom: 5%;
  }
  p {
    font-weight: 400;
    margin-bottom: 30px;
  }
  .card-course {
    margin-bottom: 30px;
    text-align: left;
    transition: all 0.3s ease-in-out;
    img {
      margin: auto;
    }
    p {
      font-weight: 700;
      font-size: 2.15em;
      color: $blue-dark;
      line-height: 28px;
      margin-bottom: 10px;
    }
    .description {
      line-height: 18px;
      font-size: 1em;
      font-weight: 400;
      color: $gray-text;
    }
    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      a {
        &:hover {
          cursor: pointer;
        }
        &:nth-child(1) {
          margin-left: 0;
        }
      }
      span {
        color: $blue-dark;
        font-weight: 700;
        font-size: 1.4em;
      }
    }
    &:hover {
      transform: scale(1.06);
    }
  }
}
