.cta-section {
  z-index: 2;
  position: relative;
  padding-top: 15vh;
  padding-bottom: 25vh;
  background: url(../../images/bgs/bg-fraudes.jpg);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  color: white;
  & > * {
    text-transform: uppercase;
    color: white;
  }
  h4 {
    font-size: 50px;
  }
  a {
    margin-left: 0;
    font-size: 20px;
    padding: 10px 35px;
    background: $blue-base;
    &:hover {
      cursor: pointer;
    }
  }
  p {
    font-size: 30px;
    margin: 30px 0;
    line-height: 1;
  }
}
