.intro-section {
  margin-top: 85px;
  width: 100%;
  position: relative;
  @include mq("tablet", "max") {
    margin-top: 55px;
    height: auto;
    padding: 30% 0;
    background-image: url(../../images/bgs/bg-header-mobile.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .color-correct {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: 290px;
    background: linear-gradient(to top, #297a94 30%, rgba(41, 122, 148, 0));
    @include mq("phablet", "max") {
      display: none;
    }
  }
  &::before {
    content: "";
    display: block;
    padding-top: 65%;
    z-index: -60;
  }
  .animated-bg {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;

    .anim {
      @include mq("tablet", "max") {
        display: none;
      }
      position: relative;
      height: auto;
      z-index: -26;

      img {
        width: 100%;
        position: absolute;
        z-index: -1;
      }
      svg {
        width: 100%;
        stroke-width: 3px;
        stroke: rgba(27, 93, 122, 1);
        stroke-dasharray: 10000;
        stroke-dashoffset: -10000;
        fill-opacity: 0;
      }
      .layer-dark {
        fill: url(#MyGradient1);
        position: absolute;
        top: 0;
        left: 0;
        animation: dash 5s ease-in-out forwards;
      }
      .layer-light {
        fill: url(#MyGradient);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 90;
        animation: dash 3s ease-in forwards;
      }
    }

    .intro-description {
      z-index: 50;
      width: auto;
      margin: 15% 11%;
      @include mq("tablet", "max") {
        margin: 50% auto auto auto;
        display: table;
        text-align: center;
      }
      h1 {
        color: white;
        font-weight: 700;
      }
      .first-title {
        margin: 0;
        @include mq("phone") {
          font-size: 3.4em;
        }
        @include mq("phablet") {
          font-size: 4.3em;
        }
        @include mq("tablet-small") {
          font-size: 6em;
          line-height: 5rem;
        }
        @include mq("tablet") {
          font-size: 3em;
          line-height: 3rem;
        }
        @include mq("tablet-wide") {
          font-size: 4em;
          line-height: 3rem;
        }
        @include mq("desktop") {
          font-size: 5em;
          line-height: 2.8rem;
        }
        @include mq("desktop-wide") {
          font-size: 6em;
          line-height: 3rem;
        }
      }
      .second-title {
        @include mq("phone") {
          font-size: 3.45em;
        }
        @include mq("phone-wide") {
          font-size: 4.35em;
        }
        @include mq("phablet") {
        }
        @include mq("tablet-small") {
          font-size: 6em;
        }
        @include mq("tablet") {
          font-size: 3.08em;
          line-height: 2.6rem;
        }
        @include mq("tablet-wide") {
          font-size: 4.08em;
          line-height: 4rem;
        }
        @include mq("desktop") {
          font-size: 5.1em;
          line-height: 6rem;
        }
        @include mq("desktop-wide") {
          font-size: 6.1em;
          line-height: 8rem;
        }
        margin: 0;
      }
      .third-title {
        @include mq("phone") {
          font-size: 4.5em;
          line-height: 4rem;
          margin-bottom: 3rem;
        }
        @include mq("phone-wide") {
          font-size: 5.7em;
        }
        @include mq("phablet") {
        }
        @include mq("tablet-small") {
          font-size: 7.9em;
          line-height: 6rem;
        }
        @include mq("tablet") {
          font-size: 4.02em;
          line-height: 4rem;
        }
        @include mq("tablet-wide") {
          font-size: 5.36em;
          line-height: 4rem;
        }
        @include mq("desktop") {
          font-size: 6.66em;
          line-height: 3rem;
        }
        @include mq("desktop-wide") {
          font-size: 8em;
          line-height: 3rem;
        }
        margin: 0;
      }
      .intro-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mq("tablet") {
          margin-top: 1em;
        }
        a {
          border-radius: 25px;
          @include mq("tablet") {
            font-size: 1.1em;
          }
          padding: 8px 15px;
          font-weight: bold;
          text-transform: uppercase;
          transition: all ease 0.5s;

          &:nth-child(1) {
            color: white;
            border: 1px solid #fff;
            background-color: $blue-base;
            &:hover {
              color: $blue-base;
              background-color: white;
            }
          }
          &:nth-child(2) {
            color: $blue-dark;
            background: #fff;

            &:hover {
              color: #fff;
              background-color: $blue-dark;
            }
          }
        }
      }
    }
  }
}
