.services-section {
  padding-top: 120px;
  padding-bottom: 80px;
  background: linear-gradient(to bottom, #70b9ca, #a4d1dc);
  color: $blue-dark;
  .cards {
    margin-top: 20px;
    .card {
      z-index: 1;
      position: relative;
      width: 220px;
      height: 220px;
      border: 1px solid $blue-dark;
      border-radius: 10px;
      padding: 15px;
      text-align: center;
      flex-direction: column;
      margin: 10px 0;
      img {
        max-width: 80px;
        margin: 5px auto;
      }
      @include flex-center;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
        border: 0;
        color: #fff;
        img {
          filter: brightness(0%) invert(100%);
        }
      }

      &::after,
      &::before {
        @include pseudo;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        border-radius: 20px;
        z-index: -1;
        transition: all 0.3s;
      }
      &::after {
        background: linear-gradient(15deg, $blue-dark, $blue-base);
      }
      &::before {
        background: linear-gradient(-25deg, $blue-base, $blue-dark);
      }
      &:hover::after {
        opacity: 1;
        transform: rotate(25deg);
      }
      &:hover::before {
        opacity: 1;
        transform: rotate(-25deg);
      }
    }
  }
}
