.welcome-section {
  background: linear-gradient(to right, #217b95, $blue-base);
  padding-top: 40px;
  .description {
    padding-left: 50px;
    h2 {
      font-size: 2.8em;
      font-weight: 600;
    }
    > p {
      color: white;
      text-align: left;
      font-weight: 600;
    }
  }
}
