@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Quicksand:500,700&display=swap");

$blue-base: #327a93;
$blue-light: #89b8c8;
$blue-dark: #164154;
$gray-base: #f5f5f5;

$breakExtraSmall: 580px;
$breakSmall: 768px;
$breakMedium: 1024px;

@mixin intro-fullscreen {
  width: 100%;
  @media screen and (min-width: $breakMedium) {
    height: calc(100vh - 85px);
  }
}

body,
html {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.intro-fullscreen {
  @include intro-fullscreen();
}

/*menu*/
.navbar-effects {
  max-height: 85px;
  height: 85px;
  margin: 0 auto;
  padding: 1.9em 3em;
  text-align: center;
  a {
    color: #005d7c;
    text-decoration: none;
    font-size: 14px;
    margin: 0px 20px;
    padding: 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-weight: 900;
    text-transform: uppercase;
    &:last-of-type {
      margin: 0 0 0 20px;
    }
    &::after {
      right: 0px;
      bottom: 0px;
    }
    &::before {
      left: 0px;
      top: 0px;
    }
    &::before,
    &::after {
      position: absolute;
      opacity: 0;
      width: 0%;
      height: 1px;
      content: "";
      background: #005d7c;
      transition: all 0.3s;
    }
    &:hover {
      &::before {
        opacity: 1;
        width: 100%;
      }
      &::after {
        opacity: 1;
        width: 100%;
      }
    }
  }
}

/* Intro */
.animated-bg {
  width: 100%;
  height: auto;
  @media screen and (min-width: $breakMedium) {
    margin-top: 85px;
  }
  @media screen and (max-width: $breakMedium) {
    margin-top: 54px;
  }
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;

  .anim {
    position: relative;
    img {
      width: 100%;
      position: absolute;
      z-index: -1;
    }
    svg {
      width: 100%;
      stroke-width: 3px;
      stroke: rgba(27, 93, 122, 1);
      stroke-dasharray: 10000;
      stroke-dashoffset: -10000;
      fill-opacity: 0;
    }
    .layer-dark {
      fill: url(#MyGradient1);
      position: absolute;
      top: 0px;
      left: 0;
      z-index: -1;
      animation: dash 5s ease-in-out forwards;
    }
    .layer-light {
      fill: url(#MyGradient);
      animation: dash 3s ease-in forwards;
    }
  }

  .intro-description {
    width: auto;
    position: absolute;
    top: 35%;
    left: 5%;
    h1 {
      color: white;
      font-weight: 700;
    }
    .first-title {
      font-size: 4.7em;
      line-height: 2rem;

      @media screen and (max-width: $breakSmall) {
        font-size: 2.1em;
        line-height: 2rem;
      }
    }
    .second-title {
      font-size: 4.8em;
      @media screen and (max-width: $breakSmall) {
        font-size: 2.1em;
      }
    }
    .third-title {
      font-size: 6.2em;
      line-height: 3rem;

      @media screen and (max-width: $breakSmall) {
        font-size: 2.1em;
      }
    }
    .intro-action {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: $breakSmall) {
        flex-direction: column;
      }
      @media screen and (min-width: $breakSmall) {
        margin-top: 3em;
      }
      a {
        border-radius: 25px;
        @media screen and (min-width: $breakSmall) {
          font-size: 1.1em;
        }
        padding: 8px 15px;
        font-weight: bold;
        text-transform: uppercase;
        transition: all ease 0.5s;

        &:nth-child(1) {
          color: white;
          border: 1px solid #fff;
          background-color: $blue-base;
          &:hover {
            color: $blue-base;
            background-color: white;
          }
        }
        &:nth-child(2) {
          color: $blue-dark;
          background: #fff;

          &:hover {
            color: #fff;
            background-color: $blue-dark;
            margin-top: -10px;
          }
        }
      }
    }
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 10000;
    stroke-dashoffset: -10000;
    fill-opacity: 0;
  }
  30% {
    stroke-dasharray: 10000;
    stroke-dashoffset: -10000;
    fill-opacity: 0;
  }
  60% {
    stroke-dashoffset: 10000;
    fill-opacity: 1;
  }
  80% {
    fill-opacity: 1;
  }
  100% {
    stroke-dashoffset: 10000;
    fill-opacity: 1;
  }
}
