.navbar-effects {
  max-height: 85px;
  height: 85px;
  margin: 0 auto;
  padding: 1.9em 3em;
  text-align: center;
  a {
    color: #005d7c;
    text-decoration: none;
    font-size: 14px;
    margin: 0px 20px;
    padding: 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-weight: 900;
    text-transform: uppercase;
    &:last-of-type {
      margin: 0 0 0 20px;
    }
    &::after {
      right: 0px;
      bottom: 0px;
    }
    &::before {
      left: 0px;
      top: 0px;
    }
    &::before,
    &::after {
      position: absolute;
      opacity: 0;
      width: 0%;
      height: 1px;
      content: "";
      background: #005d7c;
      transition: all 0.3s;
    }
    &:hover {
      &::before {
        opacity: 1;
        width: 100%;
      }
      &::after {
        opacity: 1;
        width: 100%;
      }
    }
  }
}
