@mixin intro-fullscreen {
  width: 100%;
  @media screen and (min-width: $breakMedium) {
    height: calc(100vh - 85px);
  }
}

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}
@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin full-bg {
  background-position: top center;
  background-repeat: no-repeat;
}

@mixin base-button {
  border-radius: 20px;
  padding: 8px 20px;
  margin: 0 10px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  &:nth-child(1) {
    margin-left: 0;
  }
}
