@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
@mixin intro-fullscreen {
  width: 100%;
  @include mq("tablet-wide") {
    height: calc(100vh - 85px);
  }
}
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}
@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin full-bg {
  background-position: top center;
  background-repeat: no-repeat;
}

@mixin colored-button($border, $bg, $color) {
  border: $border;
  background: $bg;
  color: $color;
}

@mixin bg-transicao {
  &::after {
    @include pseudo;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: -2;
    height: 100px;
    background: url(../images/bgs/bg-transicao.png) top center no-repeat;
    background-size: 100%;
  }
}

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}
