* {
  outline: none !important;
}
body,
html {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $gray-text;
  & > * {
    max-width: 100%;
  }
  max-width: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
h2 {
  font-size: 2.8em;
}
