.intro-fullscreen {
  @include intro-fullscreen();
}
.separator {
  position: absolute;
  top: 100%;
}
.text-blue-dark {
  color: $blue-dark;
}
.text-blue-base {
  color: $blue-base;
}
.text-blue-light {
  color: $blue-light;
}
.text-gray-text {
  color: $gray-text;
}
